.catalog {
    font-size: 25px;
    height: 70%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breeding-page {
    font-size: 25px;
    height: 30%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bearsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

