.factory-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.bearBox {
    background-color: #e2efffcb;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    top: 0%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 235px;
    margin: 40px;
    z-index: -2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bearAttributes {
    padding: 25px;
    background-color: #e2efffcb;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.toggleBtn {
    background-color: #166edacb;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.bearCreateButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.bearCreateBtn {
    background-color: #166edacb;
    border-radius: 10px;
    width: 100px;
    height: 80px;
    margin: 10px;
}

.bearCreateBtn:hover, .toggleBtn:hover  {
    border-color: #dda83d;
}

.newBearBtn {
    background-color: #33ff77;
}

.alert {
    position: fixed;
    background-color: #33ff77;
    margin: 10px;
    top: 80%;
    align-self: center;
}

.navbtn {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
}