.bearBox {
    background-color: #e2efffcb;
    border-radius: 10px;
    min-height: 500px;
    min-width: 350px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 235px;
    z-index: -2;
}

.bearAttributes {
    padding: 25px;
    background-color: #e2efffcb;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.toggleBtn {
    background-color: #166edacb;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.bearCreateButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.bearCreateBtn {
    background-color: #166edacb;
    border-radius: 10px;
    width: 100px;
    height: 80px;
    margin: 10px;
}

.bearCreateBtn:hover, .toggleBtn:hover  {
    border-color: #dda83d;
}

.newBearBtn {
    background-color: #33ff77;
}

.alert {
    background-color: #33ff77;
    margin: 10px;
}